@layer base {
  input, textarea, select {
    outline: none;
    @apply border-dashed border-2 border-primary p-1 rounded-lg w-full px-3 py-1
  }

  input:focus, textarea:focus, select:focus {
    outline: none;
    @apply border-solid border-2 border-primary
  }

  ::placeholder {
    @apply italic
  }
}
