@import url("./components/index");

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "quicksand";
  src: url("../fonts/Quicksand-VariableFont_wght.woff2") format("woff2-variations"),
       url("../fonts/Quicksand-VariableFont_wght.woff") format("woff-variations");
  font-weight: 1 700;
}
@font-face {
  font-family: "lexend";
  src: url("../fonts/Lexend-VariableFont_wght.woff2") format("woff2-variations"),
       url("../fonts/Lexend-VariableFont_wght.woff") format("woff-variations");;
  font-weight: 1 900;
}

* {
  font-family: "lexend", sans-serif;
  font-weight: 400;
}

body {
    @apply bg-light h-dynamic-screen
}

.on-click:active {
    transform: scale(0.95);
}

.absolute-center {
  @apply absolute top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4
}

.h-dynamic-screen {
  height: 100dvh;
}
